{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <h1>{{ 'accueil.Wel'|trans }}</h1>
        <hr>
    {% if app.user %}
        <div class="mb-3">
            {{ 'accueil.enTantQue'|trans }} {{ app.user.userIdentifier }}. <br>
            <a style="color:white" href="{{ path('app_logout') }}">{{ 'accueil.Deconnexion'|trans }} <i class="fas fa-sign-out-alt"></i></a>
        </div>
    {% endif %}
    {% else %}
    <div style="text-align:center; margin-right:250px; margin-left:250px">
        <h1 class="h3 mb-3 font-weight-normal,chpCo">{{ 'accueil.Connexion'|trans }}</h1>
        <div class="form-group">
            <label class="chpCo" for="inputEmail">Email</label>
            <input style="size:30px"type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
         <div class="form-group">
            <label class="chpCo" for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endif %}
{% endblock %}
