{% extends 'base.html.twig' %}

{% block body %}
{% if app.user is not null %}
<h1>{{ 'compte.Wel'|trans }} {{ app.user.nom }} {{ app.user.prenom }}</h1>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>{{ 'compte.nom'|trans }}</th>
                <th>{{ 'compte.prenom'|trans }}</th>
                <th>{{ 'compte.email'|trans }}</th>
                <th>{{ 'compte.dtCreation'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}
                {% else %}
                <th>{{ 'compte.titleModifyAccount'|trans }}</th>
                {% endif %}
            </tr>
       </thead>
       <tbody>
        <tr>
            <td>{{ app.user.nom }}</td>
            <td>{{ app.user.prenom }}</td>
            <td>{{ app.user.email }}</td>
            <td>{{ app.user.date|date('d/m/Y H:i:s') }}</td>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}
            {% else %}
            <td>
                <a class="btn btn-success" href="{{ path('app_edit_profil', {'id' : app.user.id }) }}">{{ 'compte.titleModifyAccount'|trans }}</a>
            </td>
            {% endif %}
        </tr>
    </tbody>
 </table>
 <hr>
 <p>{{ 'compte.ContactUS'|trans }}</p>


 {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}
 {% else %}

<h1>{{ 'Panier.Commandes'|trans }}</h1>
{% if paniers is not empty %}
<table class="table" border="1">
        <thead>
            <tr>
                <th>{{ 'Panier.id'|trans }}</th>
                <th>{{ 'Panier.montant'|trans }}</th>
                <th>{{ 'Panier.date'|trans }}</th>
            </tr>
       </thead>
        <tbody>
        {% for panier in paniers %}
        <tr>
            <td>{{ panier.id }}</td>
            <td>{{ panier.montant }} €</td>
            <td>{{ panier.date|date('Y-m-d') }}</td>
        </tr>
        {% endfor %}
       </tbody>
{% else %}
        <p>{{ 'Panier.NoCommande'|trans }}</p>
{% endif %}
 </table>
{% endif %}

 <hr>
 {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')%}
<h1>{{ 'compte.AdminPartOne'|trans }}</h1>
    <a class="btn btn-warning" href="{{ path('app_produit') }}">{{ 'compte.GestionProduit'|trans }}</a>
    <a class="btn btn-success" href="{{ path('produit_add_admin') }}">{{ 'add'|trans }}</a>
 {% endif %}
{% else %}
        <p>{{ 'app.PleaseConnect'|trans }}</p>
{% endif %}
{% endblock %}
